{% extends 'base.html' %}
{% block body %}
<div class="page-header">
  <h1>Plant</h1>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Realtime Video</h3>
      </div>
      <div class="panel-body">
        Not Implemented
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Soil Humidity</h3>
        <a class="panel-tip" href="/history/plant/humidity">more</a>
      </div>
      <div class="panel-body">
        {% module Template('panel.html', strtime=strtime, type='humidity', unit='%', doc=humidity) %}
      </div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Temperature</h3>
        <a class="panel-tip" href="/history/plant/temperature">more</a>
      </div>
      <div class="panel-body">
        {% module Template('panel.html', strtime=strtime, type='temperature', unit='°C', doc=temperature) %}
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Light</h3>
        <a class="panel-tip" href="/history/plant/light">more</a>
      </div>
      <div class="panel-body">
        {% module Template('panel.html', strtime=strtime, type='light', unit='lux', doc=light) %}
      </div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Water Tank</h3>
        <a class="panel-tip" href="/history/plant/distance">more</a>
      </div>
      <div class="panel-body">
        {% module Template('panel.html', strtime=strtime, type='distance', unit='cm', doc=distance) %}
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Watering History</h3>
      </div>
      <div class="panel-body">
        <ul id="history">
        {% if len(history) == 0%}
          <li>No Data</li>
        {% else %}
          {% for doc in history %}
            <li>At {{ strtime(doc['_id'].generation_time) }} ({% if doc['value'] == '1' %}Succeeded{% else %}Failed{% end %})</li>
          {% end %}
        {% end %}
        </ul>
      </div>
    </div>
  </div>
</div>
    <script type="text/javascript">
      function render_chart($obj, data)
      {
        $obj.highcharts({
          title: {
            text: null
          },
          legend: {
            enabled: false
          },
          credits: {
            enabled: false
          },
          xAxis: {
            categories: data['x']
          },
          yAxis: {
            title: {
              text: null
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
          },
          tooltip: {
            valueSuffix: null
          },
          series: [{
            name: 'Value',
            data: data['y']
          }]
        });
      }
      
      function render_list($obj, data)
      {
        var html = '';
        for (var i = data['x'].length - 1; i >= 0; --i)
        {
          html += '<li>At ' + data['x'][i] + ' (' + (data['y'][i] == '1' ? 'Succeeded' : 'Failed') + ')</li>';
        }
        $obj.html(html);
      }

      var category = 'plant';

      var ws_url = 'ws';
      if (window.location.protocol == 'https:')
      {
        ws_url += 's';
      }
      ws_url += '://' + window.location.host;

      var ws = new WebSocket(ws_url + '/' + category + '-ws');
      ws.onopen = function() {
         // todo: auth
      };
      
      ws.onmessage = function (msg) {
         var e = JSON.parse(msg.data);
         if (e['event'] == 'updated')
         {
           console.log(msg.data);
           $.getJSON('/data/' + category + '/' + e['type'], function (obj) {
             if (obj['x'].length > 0)
             {
               if (e['type'] == 'watered')
               {
                 render_list($('#history'), obj);
               }
               else
               {
                 render_chart($('#container-' + e['type']), obj);
                 $('#' + e['type'] + '-value').text(obj['y'][obj['y'].length - 1]);
                 $('#' + e['type'] + '-datetime').text('(at ' + obj['x'][obj['x'].length - 1] + ')');
               }
             }
           });
         }
      };
		</script>
  <script src="{{ static_url('hc/js/highcharts.js') }}"></script>
  <script src="{{ static_url('hc/js/modules/exporting.js') }}"></script>
{% end %}
